*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #F8EDE3;
}

h1{
    margin-bottom: 0 !important;
}

p{
    margin-bottom: 0 !important;
}

.background{
    background-color: #070F2B;
    color: #F8EDE3;
    font-family: "Montserrat", sans-serif !important;
    display: flex;
    flex-direction: column;
    height: 90vh;
    align-items: left;
    text-align: left;
    justify-content:center;
}

.texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25PX;
}

.child{
    display: flex;
    justify-content: space-around;
}

.intro{
    align-items: center;
    display: flex;
    font-size: smaller;  
}

.about{
    font-family: "Montserrat", sans-serif !important;
    padding: 5rem;
    text-align: center;
    align-items: center;
} 

img{
    border: 1px solid #ddd;
    border-radius: 0px;
    padding: 5px;
    width: 50vh;
    align-items: right;
    justify-content:center
}

.project{
    font-family: "Montserrat", sans-serif !important;
    padding: 5rem;
    text-align: center;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.skills{
    font-family: "Montserrat", sans-serif;
    padding: 5rem;
}

.skills ul{
    display: flex;
    justify-content: space-evenly !important;
    text-align: center;
}

.skills ul li{
    list-style-type: none;
    border: 5px solid #070F2B;
    font-size: larger;
    width: 100px;
    text-align: center !important;
}

.contact-form{
    background-color: #DDDDDD;
    display: flex;
    justify-content: space-evenly;
}